@model OnosFlow.Models.Flow

@{
    ViewData["Title"] = "Create";
}

<h1>Stwórz przepływ</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <h2 class="mb-4">Ogólne</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="priority" class="control-label"></label>
                <input asp-for="priority" class="form-control" />
                <span asp-validation-for="priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeout" class="control-label"></label>
                <input asp-for="timeout" class="form-control" />
                <span asp-validation-for="timeout" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isPermanent" /> @Html.DisplayNameFor(model => model.isPermanent)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="deviceId" class="control-label"></label>
                <input asp-for="deviceId" class="form-control" />
                <span asp-validation-for="deviceId" class="text-danger"></span>
            </div>
            <!--<h2 class="mb-4">Instrukcje</h2>
            <div class="form-group">
                <label asp-for="treatment.instructions[0].type" class="control-label"></label>
                <input asp-for="treatment.instructions[0].type" value="OUTPUT" class="form-control"/>-->
            @*@<option>OUTPUT</option>
                    <option>TABLE</option>
                    <option>GROUP</option>
                    <option>METER</option>
                    <option>QUEUE</option>
                    <option>L0MODIFICATION</option>
                    <option>L1MODIFICATION</option>
                    <option>L2MODIFICATION</option>
                    <option>L3MODIFICATION</option>
                    <option>L4MODIFICATION</option>
                </select>*@
            <!--<span asp-validation-for="treatment.instructions[0].type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="treatment.instructions[0].port" class="control-label"></label>
                <input asp-for="treatment.instructions[0].port" class="form-control" />
                <span asp-validation-for="treatment.instructions[0].port" class="text-danger"></span>
            </div>-->
            <h2 class="mb-4">Kryteria</h2>
            <div id="criteria">
                @if ((Model.selector != null) && (Model.selector.criteria != null))
                {
                    @*@foreach (var criterion in Model.selector.criteria)
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="@Model.selector.critera.type" class="control-label"></label>
                            <input asp-for="@criterion.type" value="ETH_TYPE" class="form-control" />
                            <span asp-validation-for="@criterion.type" class="text-danger"></span>
                        </div>
                    }*@
                }
            </div>
            <div class="form-group">
                <button id="addCriterion" type="button" class="btn btn-primary">Dodaj</button>
            </div>
            @*<div class="form-group">
                    <label asp-for="selector.criteria[2].type" class="control-label"></label>
                    <select asp-for="selector.criteria[2].type" class="form-control">
                        <option>ETH_TYPE</option>
                        <option>ETH_DST</option>
                        <option>ETH_SRC</option>
                        <option>IN_PORT</option>
                        <option>IP_PROTO</option>
                        <option>IPV4_SRC</option>
                        <option>IP4_DST</option>
                        <option>TCP_SRC</option>
                        <option>TCP_DST</option>
                        <option>UDP_SRC</option>
                        <option>UDP_DST</option>
                        <option>IPV6_SRC</option>
                        <option>IPV6_DST</option>
                    </select>
                    <span asp-validation-for="selector.criteria[2].type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="selector.criteria[2].mac" class="control-label"></label>
                    <input asp-for="selector.criteria[2].mac" class="form-control" />
                    <span asp-validation-for="selector.criteria[2].mac" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Stwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do tabeli</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CollectionFormScripts");}
}
