
@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie</h1>

<h3>Jesteś pewien że chcesz usunąć ten przepływ?</h3>
<div>
    <h4>Id przepływu: @ViewData["flowId"]</h4>
    <hr />
    <dl class="row">
    </dl>

    <form asp-action="DeleteConfirmed" asp-route-deviceid="@ViewData["deviceId"]" asp-route-flowid="@ViewData["flowId"]">
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do tabeli</a>
    </form>
</div>
