
@{
    ViewData["Title"] = "Unauthorized";
}
<h1> Nieautoryzowane żądanie, sprawdź poprawność danych konfiguracyjnych kontrolera. </h1>
<h1> Unauthorized request, consider changing your configuration credentials. </h1>