
@{
    ViewData["Title"] = "Cannot connect";
}
<h1>Nie można połączyć się z kontrolerem, sprawdź stan łącza lub zmień adres IP.</h1>
<h1>Cannot connect to controller, verify your network or consider changing Controller IP Address. </h1>