@model OnosFlow.Models.Config

@{
    ViewData["Title"] = "CreateConfig";
}

<h1 class="h3 m-5 font-weight-normal" align="center">Wybierz kontroler</h1>

<div class="d-flex justify-content-center">
    <form asp-action="CreateConfig" class="form-signin col-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label">@Html.DisplayNameFor(model => model.UserName)</label>
            <input asp-for="UserName" type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.UserName) required>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label">@Html.DisplayNameFor(model => model.Password)</label>
            <input asp-for="Password" type="password" class="form-control" placeholder=@Html.DisplayNameFor(model => model.Password) required>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IpAddress" class="control-label">@Html.DisplayNameFor(model => model.IpAddress)</label>
            <input asp-for="IpAddress" type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.IpAddress) required>
            <span asp-validation-for="IpAddress" class="text-danger"></span>
        </div>
        <div class="m-2 mt-5">
            <button class="btn btn-lg btn-primary btn-block" asp-controller="Home" asp-action="CreateConfig" type="submit">Zapisz</button>
        </div>
    </form>
</div>
