@model OnosFlow.Models.Config

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="m-4">Welcome</h1>

<div class="m-3">
    <h4>Current Config</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
    </dl>
</div>

