@{
    ViewData["Title"] = "Informacje";
}
<h1>@ViewData["Title"]</h1>

<p>Aplikacja została zaprojektowana oraz zaimplementowana przez Wiktora Ucińskiego jako projekt inżynierski tworzony pod opieką dr hab. S. Kaczmarka, prof. PG oraz mgr inż. Jacka Litki</p>
<p>This is Wiktor Uciński's Engineer's Thesis project, that was made under the supervision of prof. PG, dr hab. S. Kaczmarek and Jacek Litka MSc.</p>
