@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is Wiktor Uciński's Engineer's Thesis project, that was made under the supervision of prof. PG, dr hab. S. Kaczmarek and Jacek Litka MSc.</p>
